.calendar__section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(#fafafa, #fafafa),
        linear-gradient(#ffffff, #ffffff);

    &__wrapper {
        padding: 24px;
        width: min(1440px, 100%);
        display: flex;
        flex-direction: column;
        gap: 24px;
        h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }
        &__calendar {
            padding: 24px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 12px;
            border-radius: 14px;
            background-color: #ffffff;
            &__day {
                display: flex;
                flex-direction: column;
                gap: 12px;
                div {
                    padding: 12px;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    background: #f5f0e5;
                    border-radius: 8px;
                    &:first-child {
                        max-height: 44px;
                        background: #e8f4ea;
                        align-items: center;
                        justify-content: center;

                        h2 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                    span {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        color: #666666;
                    }

                    div {
                        padding: 8px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;
                        background: #ffffff;
                        img {
                            max-width: 24px;
                            height: 32px;
                        }
                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
