.recipes__section {
  max-width: 893px;
  width: 100%;
  min-height: 672px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: "Inter", sans-serif;

  .recipes__title {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
  }

  &__wrapper {
    width: 100%;
    min-height: 642px;
    display: flex;
    gap: 26.5px;
    flex-wrap: wrap;
  }

  &__card {
    max-width: 282px;
    width: 100%;
    height: 309px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;

    &__top {
      width: 100%;
      height: 180px;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      background-image: url(https://www.cookerru.com/wp-content/uploads/2017/07/avocado-egg-toast-feature-new-1170x1170.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__bottom {
      flex-grow: 1;

      display: flex;
      flex-direction: column;

      justify-content: space-between;

      padding: 16px;

      .recipes__card__title {
        font-weight: 700;
        font-size: 18.72px;
        line-height: 23px;
        color: #333333;
      }

      .recipes__card__info {
        display: flex;
        gap: 16px;

        .info__item {
          display: flex;
          align-items: center;
          gap: 4px;

          .time__icon {
            width: 11.67px;
            height: 11.67px;
            background-image: url(../../../assets/icons/time__icon.svg);
            background-size: cover;
          }

          .difficulty__icon {
            width: 7px;
            height: 9.3px;
            background-image: url(../../../assets/icons/difficulty__icon.svg);
            background-size: cover;
          }

          span {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #999999;
          }
        }
      }

      .recipes__card__actions {
        display: flex;
        gap: 8px;

        .btn {
          height: 34px;
          border-radius: 8px;
          padding: 9px 16px;
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          border: none;
          cursor: pointer;

          &__view {
            background: #6baa75;
            color: #ffffff;
          }

          &__edit {
            background: transparent;
            color: #666666;
            border: 1px solid #eeeeee;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
