.add__circle {
  width: 56px;
  height: 56px;
  background-color: #6baa75;
  box-shadow: 0px 4px 12px 0px #6baa754d;
  position: fixed;
  border-radius: 9999px;
  bottom: 80px;
  right: 480px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
}

