.main__header {
    display: flex;
    max-width: 1440px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px 0px #0000000d;
    .header__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-family: inherit;
            font-weight: 800;
            font-size: 19.78px;
            line-height: 24px;
            color: #6baa75;
        }
    }
    .header__container__profile {
        display: flex;
        gap: 11px;
        align-items: center;
        p:first-child {
            font-family: inherit;
            font-weight: 400;
            font-size: 16px;
            color: #333333;
        }
        p:last-child {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            background-color: #ffcb91;
            font-style: Bold;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            font-weight: 700;
        }
    }
    input {
        width: 500px;
        height: 39px;
        border-radius: 8px;
        border: 1px solid #eeeeee;
        background-color: #f9f9f9;
        padding-left: 41px;
        ::placeholder {
            font-family: inherit;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            width: 192.859375px;
            height: 19px;
            background-color: #a0a0a0;
        }
    }
}
